# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Static files
/static/

# Media files
/media/

# IDE files
.vscode/
.idea/
*.swp
*.swo