<!-- sherlock-python/inventory/templates/inventory/adjust_stock_form.html -->

{% extends "inventory/base.html" %}

{% block content %}
    <p><a href="{{ item.get_absolute_url }}">< Back to "{{ item.name }}"</a></p>
    <h1>{{ page_title }} <i>"{{ item.name }}"</i></h1>

    <div class="detail-container">
        <p>Current Quantity in Inventory: <strong>{{ item.quantity }}</strong></p>
        <hr>
        <form method="post">
            {% csrf_token %}
            <p>
                <label for="{{ form.quantity.id_for_label }}">{{ form.quantity.label }}:</label>
                {{ form.quantity }}
            </p>
            <p>
                <label for="{{ form.notes.id_for_label }}">{{ form.notes.label }}:</label>
                <textarea name="notes" id="{{ form.notes.id_for_label }}" class="notes-textarea" required></textarea>
                <small>{{ form.notes.help_text }}</small>
            </p>
            <button type="submit">Confirm Adjustment</button>
        </form>
    </div>
{% endblock %}