<!-- sherlock-python/inventory/templates/inventory/checkout_find_student.html -->

{% extends "inventory/base.html" %}

{% block content %}    
    <h1>Checkout Terminal</h1>
    <p>Enter a student's name or admission number to begin a checkout session.</p>

    <div>
        <input 
            type="search" 
            name="query" 
            placeholder="Search by Name or Admission Number..." 
            autofocus
            class="student-search-input"
            
            hx-get="{% url 'inventory:live_student_search' %}"
            hx-trigger="keyup changed delay:200ms"
            hx-target="#student-results-body"
            hx-swap="innerHTML"
            hx-indicator=".htmx-indicator">
    </div>

    <table class="open-table" style="margin-top: 1em;">
        <thead>
            <tr>
                <th>Admission Number</th>
                <th>Name</th>
                <th>Class</th>
                <th>Section</th> 
                <th></th>      
            </tr>
        </thead>
        <tbody id="student-results-body">
        </tbody>
    </table>
{% endblock %}