<!-- sherlock-python/inventory/templates/inventory/item_form.html -->

{% extends "inventory/base.html" %}

{% block content %}
    {% if item %}
        <p><a href="{% url 'inventory:inventory_browser' %}">< Back to Inventory Browser</a></p>
        <h1>Edit <i>"{{ item.name }}"</i></h1>
    {% else %}
        <p><a href="{% url 'inventory:inventory_browser' %}">< Back to Inventory Browser</a></p>
        <h1>Add an Item</h1>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
{% endblock %}